<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="UTF-8" />
  <title>components test | blog</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i%7CSource+Code+Pro:400,400i,600" />
  <link rel="stylesheet" href="https://firebirdtools.github.io/blog/static/m-dark.css" />
  <link rel="canonical" href="https://firebirdtools.github.io/blog/css/components/test.html" />
  <link href="https://firebirdtools.github.io/blog/feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="blog" />
  <link href="https://firebirdtools.github.io/blog/feeds/mcss.atom.xml" type="application/atom+xml" rel="alternate" title="blog | mcss" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#22272e" />
  <meta property="og:site_name" content="blog" />
  <meta property="og:title" content="components test" />
  <meta name="twitter:title" content="components test" />
  <meta property="og:url" content="https://firebirdtools.github.io/blog/css/components/test.html" />
  <meta property="og:description" content="components test" />
  <meta name="twitter:description" content="components test" />
  <meta name="twitter:card" content="summary" />
  <meta property="og:type" content="article" />
</head>
<body>
<header><nav id="navigation">
  <div class="m-container">
    <div class="m-row">
      <a href="https://firebirdtools.github.io/blog/" id="m-navbar-brand" class="m-col-t-9 m-col-m-none m-left-m">blog</a>
    </div>
  </div>
</nav></header>
<main>
<div class="m-container">
  <div class="m-row">
    <article class="m-col-m-10 m-nopadb">
      <header>
        <h1><a href="https://firebirdtools.github.io/blog/css/components/test.html" rel="bookmark" title="Permalink to components test">
          <time class="m-date" datetime="2019-01-15T00:00:00+01:00">
            1月 <span class="m-date-day">15</span> 2019
          </time>
          components test
        </a></h1>
        <p>components test</p>
      </header>
      <div class="m-clearfix-l"></div>
<!-- content -->
<aside class="contents m-block m-default" id="contents">
<h3>Contents</h3>
<ul>
<li><a href="#blocks" id="id1">Blocks</a></li>
<li><a href="#badge" id="id2">Badge</a></li>
<li><a href="#notes-frame" id="id3">Notes, frame</a></li>
<li><a href="#blocks-notes-with-a-link" id="id4">Blocks, notes with a link</a></li>
<li><a href="#labels" id="id5">Labels</a></li>
<li><a href="#tables" id="id6">Tables</a><ul>
<li><a href="#table-with-paragraphs" id="id7">Table with paragraphs</a></li>
<li><a href="#big-tables" id="id8">&quot;Big&quot; tables</a></li>
</ul>
</li>
<li><a href="#images" id="id9">Images</a></li>
<li><a href="#figures" id="id10">Figures</a></li>
<li><a href="#image-grid" id="id11">Image grid</a></li>
<li><a href="#code-in-colored-notes" id="id12">Code in colored notes</a></li>
<li><a href="#code-figure" id="id13">Code figure</a></li>
<li><a href="#list-with-components-inside" id="id14">List with components inside</a></li>
<li><a href="#floating-around" id="id15">Floating around</a></li>
<li><a href="#floating-around-inflated" id="id16">Floating around, inflated</a></li>
</ul>
</aside>
<section id="blocks">
<h2><a class="toc-backref" href="#id1">Blocks</a></h2>
<p>Different <code class="code html"><span class="p">&lt;</span><span class="nt">h</span><span class="err">*</span><span class="p">&gt;</span></code> tags, the styling should be preserved across all sizes.</p>
<div class="m-row">
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-block m-default">
      <h3>Default block h3</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices a erat eu suscipit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-block m-default">
      <h4>Default block h4</h4>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices a erat eu suscipit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-clearfix-s"></div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-block m-default">
      <h5>Default block h5</h5>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices a erat eu suscipit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-block m-default">
      <h6>Default block h6</h6>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices a erat eu suscipit. <a href="#">Link.</a>
    </div>
  </div>
</div>
<div class="m-row">
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-block m-primary">
      <h3>Primary block h3</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices a erat eu suscipit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-block m-primary">
      <h4>Primary block h4</h4>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices a erat eu suscipit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-clearfix-s"></div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-block m-primary">
      <h5>Primary block h5</h5>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices a erat eu suscipit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-block m-primary">
      <h6>Primary block h6</h6>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices a erat eu suscipit. <a href="#">Link.</a>
    </div>
  </div>
</div>
<div class="m-row">
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-block m-success">
      <h3>Success block h3</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices a erat eu suscipit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-block m-success">
      <h4>Success block h4</h4>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices a erat eu suscipit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-clearfix-s"></div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-block m-success">
      <h5>Success block h5</h5>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices a erat eu suscipit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-block m-success">
      <h6>Success block h6</h6>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices a erat eu suscipit. <a href="#">Link.</a>
    </div>
  </div>
</div>
<div class="m-row">
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-block m-warning">
      <h3>Warning block h3</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices a erat eu suscipit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-block m-warning">
      <h4>Warning block h4</h4>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices a erat eu suscipit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-clearfix-s"></div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-block m-warning">
      <h5>Warning block h5</h5>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices a erat eu suscipit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-block m-warning">
      <h6>Warning block h6</h6>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices a erat eu suscipit. <a href="#">Link.</a>
    </div>
  </div>
</div>
<div class="m-row">
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-block m-danger">
      <h3>Danger block h3</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices a erat eu suscipit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-block m-danger">
      <h4>Danger block h4</h4>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices a erat eu suscipit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-clearfix-s"></div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-block m-danger">
      <h5>Danger block h5</h5>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices a erat eu suscipit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-block m-danger">
      <h6>Danger block h6</h6>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices a erat eu suscipit. <a href="#">Link.</a>
    </div>
  </div>
</div>
<div class="m-row">
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-block m-info">
      <h3>Info block h3</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices a erat eu suscipit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-block m-info">
      <h4>Info block h4</h4>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices a erat eu suscipit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-clearfix-s"></div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-block m-info">
      <h5>Info block h5</h5>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices a erat eu suscipit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-block m-info">
      <h6>Info block h6</h6>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices a erat eu suscipit. <a href="#">Link.</a>
    </div>
  </div>
</div>
<div class="m-row">
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-block m-dim">
      <h3>Dim block h3</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices a erat eu suscipit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-block m-dim">
      <h4>Dim block h4</h4>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices a erat eu suscipit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-clearfix-s"></div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-block m-dim">
      <h5>Dim block h5</h5>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices a erat eu suscipit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-block m-dim">
      <h6>Dim block h6</h6>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices a erat eu suscipit. <a href="#">Link.</a>
    </div>
  </div>
</div></section>
<section id="badge">
<h2><a class="toc-backref" href="#id2">Badge</a></h2>
<p>Badge with lots of text and less text:</p>
<div class="m-block m-badge m-primary">
  <img src="https://firebirdtools.github.io/blog/static/mosra.jpg" alt="The Author" />
  <h3>About the author</h3>
  <p><a href="#">The Author</a> is lorem ipsum dolor sit amet, consectetur
  adipiscing elit. Aenean id elit posuere, consectetur magna congue,
  sagittis est. Pellentesque est neque, aliquet nec consectetur in, mattis
  ac diam. Aliquam placerat justo ut purus interdum, ac placerat lacus
  consequat. Mauris id suscipit mauris, in scelerisque lectus.</p>
</div>

<div class="m-block m-badge m-dim">
  <img src="https://firebirdtools.github.io/blog/static/mosra.jpg" alt="The Author" />
  <h3>About the author</h3>
  <p><a href="#">The Author</a> is lorem ipsum dolor sit amet, consectetur
  adipiscing elit.</p>
</div></section>
<section id="notes-frame">
<h2><a class="toc-backref" href="#id3">Notes, frame</a></h2>
<p>Different <code class="code html"><span class="p">&lt;</span><span class="nt">h</span><span class="err">*</span><span class="p">&gt;</span></code> tags.</p>
<div class="m-row">
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-note m-default">
      <h3>Default note h3</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-note m-default">
      <h4>Default note h4</h4>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-clearfix-s"></div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-note m-default">
      <h5>Default note h5</h5>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-note m-default">
      <h6>Default note h6</h6>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Link.</a>
    </div>
  </div>
</div>
<div class="m-row">
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-note m-primary">
      <h3>Primary note h3</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-note m-primary">
      <h4>Primary note h4</h4>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-clearfix-s"></div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-note m-primary">
      <h5>Primary note h5</h5>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-note m-primary">
      <h6>Primary note h6</h6>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Link.</a>
    </div>
  </div>
</div>
<div class="m-row">
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-note m-success">
      <h3>Success note h3</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-note m-success">
      <h4>Success note h4</h4>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-clearfix-s"></div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-note m-success">
      <h5>Success note h5</h5>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-note m-success">
      <h6>Success note h6</h6>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Link.</a>
    </div>
  </div>
</div>
<div class="m-row">
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-note m-warning">
      <h3>Warning note h3</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-note m-warning">
      <h4>Warning note h4</h4>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-clearfix-s"></div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-note m-warning">
      <h5>Warning note h5</h5>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-note m-warning">
      <h6>Warning note h6</h6>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Link.</a>
    </div>
  </div>
</div>
<div class="m-row">
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-note m-danger">
      <h3>Danger note h3</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-note m-danger">
      <h4>Danger note h4</h4>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-clearfix-s"></div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-note m-danger">
      <h5>Danger note h5</h5>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-note m-danger">
      <h6>Danger note h6</h6>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Link.</a>
    </div>
  </div>
</div>
<div class="m-row">
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-note m-info">
      <h3>Info note h3</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-note m-info">
      <h4>Info note h4</h4>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-clearfix-s"></div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-note m-info">
      <h5>Info note h5</h5>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-note m-info">
      <h6>Info note h6</h6>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Link.</a>
    </div>
  </div>
</div>
<div class="m-row">
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-note m-dim">
      <h3>Dim note h3</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-note m-dim">
      <h4>Dim note h4</h4>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-clearfix-s"></div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-note m-dim">
      <h5>Dim note h5</h5>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-note m-dim">
      <h6>Dim note h6</h6>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Link.</a>
    </div>
  </div>
</div>
<div class="m-row">
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-frame">
      <h3>Frame h3</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-frame">
      <h4>Frame h4</h4>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-clearfix-s"></div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-frame">
      <h5>Frame h5</h5>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-frame">
      <h6>Frame h6</h6>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Link.</a>
    </div>
  </div>
</div></section>
<section id="blocks-notes-with-a-link">
<h2><a class="toc-backref" href="#id4">Blocks, notes with a link</a></h2>
<p>Different <code class="code html"><span class="p">&lt;</span><span class="nt">h</span><span class="err">*</span><span class="p">&gt;</span></code> tags.</p>
<div class="m-row">
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-note m-default">
      <h3><a href="#">Header link</a></h3>
      Lorem ipsum dolor sit amet. <a href="#">Text link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-note m-primary">
      <h3><a href="#">Header link</a></h3>
      Lorem ipsum dolor sit amet. <a href="#">Text link.</a>
    </div>
  </div>
  <div class="m-clearfix-s"></div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-note m-success">
      <h3><a href="#">Header link</a></h3>
      Lorem ipsum dolor sit amet. <a href="#">Text link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-note m-warning">
      <h3><a href="#">Header link</a></h3>
      Lorem ipsum dolor sit amet. <a href="#">Text link.</a>
    </div>
  </div>
</div>
<div class="m-row">
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-note m-danger">
      <h3><a href="#">Header link</a></h3>
      Lorem ipsum dolor sit amet. <a href="#">Text link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-note m-info">
      <h3><a href="#">Header link</a></h3>
      Lorem ipsum dolor sit amet. <a href="#">Text link.</a>
    </div>
  </div>
  <div class="m-clearfix-s"></div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-note m-dim">
      <h3><a href="#">Header link</a></h3>
      Lorem ipsum dolor sit amet. <a href="#">Text link.</a>
    </div>
  </div>
</div>
<div class="m-row">
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-block m-default">
      <h3><a href="#">Header link</a></h3>
      Lorem ipsum dolor sit amet. <a href="#">Text link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-block m-primary">
      <h3><a href="#">Header link</a></h3>
      Lorem ipsum dolor sit amet. <a href="#">Text link.</a>
    </div>
  </div>
  <div class="m-clearfix-s"></div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-block m-success">
      <h3><a href="#">Header link</a></h3>
      Lorem ipsum dolor sit amet. <a href="#">Text link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-block m-warning">
      <h3><a href="#">Header link</a></h3>
      Lorem ipsum dolor sit amet. <a href="#">Text link.</a>
    </div>
  </div>
</div>
<div class="m-row">
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-block m-danger">
      <h3><a href="#">Header link</a></h3>
      Lorem ipsum dolor sit amet. <a href="#">Text link.</a>
    </div>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-block m-info">
      <h3><a href="#">Header link</a></h3>
      Lorem ipsum dolor sit amet. <a href="#">Text link.</a>
    </div>
  </div>
  <div class="m-clearfix-s"></div>
  <div class="m-col-m-3 m-col-s-6">
    <div class="m-block m-dim">
      <h3><a href="#">Header link</a></h3>
      Lorem ipsum dolor sit amet. <a href="#">Text link.</a>
    </div>
  </div>
</div></section>
<section id="labels">
<h2><a class="toc-backref" href="#id5">Labels</a></h2>
<p>They should have proper vertical alignment.</p>
<h1>Heading 1 <span class="m-label m-default">label</span> <span class="m-label m-dim">label</span></h1>
<h2>Heading 2 <span class="m-label m-primary">label</span> <span class="m-label m-flat m-default">flat</span></h2>
<h3>Heading 3 <span class="m-label m-success">label</span> <span class="m-label m-flat m-primary">flat</span></h3>
<h4>Heading 4 <span class="m-label m-warning">label</span> <span class="m-label m-flat m-success">flat</span></h4>
<h5>Heading 5 <span class="m-label m-danger">label</span> <span class="m-label m-flat m-warning">flat</span></h5>
<h6>Heading 6 <span class="m-label m-info">label</span> <span class="m-label m-flat m-danger">flat</span></h6>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span class="m-label m-primary">label</span> <span class="m-label m-flat m-info">flat</span> Vivamus ultrices a erat eu suscipit. Aliquam pharetra imperdiet tortor sed vehicula.</p>

<p class="m-text m-big">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices <span class="m-label m-success">label</span> <span class="m-label m-flat m-dim">flat</span> a erat eu suscipit. Aliquam pharetra imperdiet tortor sed vehicula.</p>

<p class="m-text m-small">Lorem ipsum dolor sit amet,  <span class="m-label m-warning">label</span> <span class="m-label m-flat m-info">flat</span> consectetur adipiscing elit. Vivamus ultrices a erat eu suscipit. Aliquam pharetra imperdiet tortor sed vehicula.</p></section>
<section id="tables">
<h2><a class="toc-backref" href="#id6">Tables</a></h2>
<table class="m-table m-flat">
  <caption>Flat table (w/o hover effect)</caption>
  <tr>
    <th scope="row">1</th>
    <td>Cell</td>
    <td>Second cell</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>2nd row cell</td>
    <td>2nd row 2nd cell</td>
  </tr>
</table>
<div class="m-scroll"><table class="m-table m-fullwidth">
  <caption>Full-width table</caption>
  <thead>
    <tr>
      <th>#</th>
      <th>Heading text</th>
      <th>Heading text</th>
      <th>Heading text</th>
      <th>Heading text</th>
      <th>Heading text</th>
      <th>Heading text</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Cell contents</td>
      <td>Cell contents</td>
      <td>Cell contents</td>
      <td>Cell contents</td>
      <td>Cell contents</td>
      <td>Cell contents</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Cell contents</td>
      <td>Cell contents</td>
      <td>Cell contents</td>
      <td>Cell contents</td>
      <td>Cell contents</td>
      <td>Cell contents</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Cell contents</td>
      <td>Cell contents</td>
      <td>Cell contents</td>
      <td>Cell contents</td>
      <td>Cell contents</td>
      <td>Cell contents</td>
    </tr>
  </tbody>
</table></div>
<div class="m-scroll"><table class="m-table m-center-t">
  <tbody>
    <tr class="m-default">
      <th>Default row</th>
      <td>Lorem</td>
      <td>ipsum</td>
      <td>dolor</td>
      <td>sit</td>
      <td>amet</td>
      <td><a href="#">Link</a></td>
    </tr>
    <tr class="m-primary">
      <th>Primary row</th>
      <td>Lorem</td>
      <td>ipsum</td>
      <td>dolor</td>
      <td>sit</td>
      <td>amet</td>
      <td><a href="#">Link</a></td>
    </tr>
    <tr class="m-success">
      <th>Success row</th>
      <td>Lorem</td>
      <td>ipsum</td>
      <td>dolor</td>
      <td>sit</td>
      <td>amet</td>
      <td><a href="#">Link</a></td>
    </tr>
    <tr class="m-warning">
      <th>Warning row</th>
      <td>Lorem</td>
      <td>ipsum</td>
      <td>dolor</td>
      <td>sit</td>
      <td>amet</td>
      <td><a href="#">Link</a></td>
    </tr>
    <tr class="m-danger">
      <th>Danger row</th>
      <td>Lorem</td>
      <td>ipsum</td>
      <td>dolor</td>
      <td>sit</td>
      <td>amet</td>
      <td><a href="#">Link</a></td>
    </tr>
    <tr class="m-info">
      <th>Info row</th>
      <td>Lorem</td>
      <td>ipsum</td>
      <td>dolor</td>
      <td>sit</td>
      <td>amet</td>
      <td><a href="#">Link</a></td>
    </tr>
    <tr class="m-dim">
      <th>Dim row</th>
      <td>Lorem</td>
      <td>ipsum</td>
      <td>dolor</td>
      <td>sit</td>
      <td>amet</td>
      <td><a href="#">Link</a></td>
    </tr>
    <tr>
      <td class="m-default">Default cell</td>
      <td class="m-default"><a href="#">Link</a></td>
      <td class="m-default">Lorem</td>
      <td class="m-default">ipsum</td>
      <td class="m-default">dolor</td>
      <td class="m-default">sit</td>
      <td class="m-default">amet</td>
    </tr>
    <tr>
      <td class="m-primary">Primary cell</td>
      <td class="m-primary"><a href="#">Link</a></td>
      <td>Lorem</td>
      <td>ipsum</td>
      <td>dolor</td>
      <td>sit</td>
      <td>amet</td>
    </tr>
    <tr>
      <td class="m-default">Lorem</td>
      <td class="m-success">Success cell</td>
      <td class="m-success"><a href="#">Link</a></td>
      <td>ipsum</td>
      <td>dolor</td>
      <td>sit</td>
      <td>amet</td>
    </tr>
    <tr>
      <td>Lorem</td>
      <td class="m-default">ipsum</td>
      <td class="m-warning">Warning cell</td>
      <td class="m-warning"><a href="#">Link</a></td>
      <td>dolor</td>
      <td>sit</td>
      <td>amet</td>
    </tr>
    <tr>
      <td>Lorem</td>
      <td>ipsum</td>
      <td class="m-default">dolor</td>
      <td class="m-danger">Danger cell</td>
      <td class="m-danger"><a href="#">Link</a></td>
      <td>sit</td>
      <td>amet</td>
    </tr>
    <tr>
      <td>Lorem</td>
      <td>ipsum</td>
      <td>dolor</td>
      <td class="m-default">sit</td>
      <td class="m-info">Info cell</td>
      <td class="m-info"><a href="#">Link</a></td>
      <td>amet</td>
    </tr>
    <tr>
      <td>Lorem</td>
      <td>ipsum</td>
      <td>dolor</td>
      <td>sit</td>
      <td class="m-default">amet</td>
      <td class="m-dim">Dim cell</td>
      <td class="m-dim"><a href="#">Link</a></td>
    </tr>
    <tr>
      <th class="m-default">Default header</th>
      <td class="m-default"><a href="#">Link</a></td>
      <td class="m-default">Lorem</td>
      <td class="m-default">ipsum</td>
      <td class="m-default">dolor</td>
      <td class="m-default">sit</td>
      <td class="m-default">amet</td>
    </tr>
    <tr>
      <th class="m-primary">Primary header</th>
      <td class="m-primary"><a href="#">Link</a></td>
      <td>Lorem</td>
      <td>ipsum</td>
      <td>dolor</td>
      <td>sit</td>
      <td>amet</td>
    </tr>
    <tr>
      <td class="m-default">Lorem</td>
      <th class="m-success">Success header</th>
      <td class="m-success"><a href="#">Link</a></td>
      <td>ipsum</td>
      <td>dolor</td>
      <td>sit</td>
      <td>amet</td>
    </tr>
    <tr>
      <td>Lorem</td>
      <td class="m-default">ipsum</td>
      <th class="m-warning">Warning header</th>
      <td class="m-warning"><a href="#">Link</a></td>
      <td>dolor</td>
      <td>sit</td>
      <td>amet</td>
    </tr>
    <tr>
      <td>Lorem</td>
      <td>ipsum</td>
      <td class="m-default">dolor</td>
      <th class="m-danger">Danger header</th>
      <td class="m-danger"><a href="#">Link</a></td>
      <td>sit</td>
      <td>amet</td>
    </tr>
    <tr>
      <td>Lorem</td>
      <td>ipsum</td>
      <td>dolor</td>
      <td class="m-default">sit</td>
      <th class="m-info">Info header</th>
      <td class="m-info"><a href="#">Link</a></td>
      <td>amet</td>
    </tr>
    <tr>
      <td>Lorem</td>
      <td>ipsum</td>
      <td>dolor</td>
      <td>sit</td>
      <td class="m-default">amet</td>
      <th class="m-dim">Dim header</th>
      <td class="m-dim"><a href="#">Link</a></td>
    </tr>
  </tbody>
</table><section id="table-with-paragraphs">
<h3><a class="toc-backref" href="#id7">Table with paragraphs</a></h3>
<table class="m-table">
  <tr>
    <td>
      <p>A paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices a erat eu suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices a erat eu suscipit.</p>
      <p>A second paragraph.</p>
    </td>
    <td>
      <p>Another.</p>
    </td>
  </tr>
  <tr>
    <td>
      <p>Another. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices a erat eu suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices a erat eu suscipit.</p>
    </td>
    <td>
      <p>A paragraph.</p>
      <p>A second paragraph.</p>
    </td>
  </tr>
</table></section>
<section id="big-tables">
<h3><a href="#big-tables">&quot;Big&quot; tables</a></h3>
<table class="m-table m-flat m-big">
   <thead>
     <tr>
       <th></th>
       <th class="m-text-center m-text m-big m-thin">Community<br />edition</th>
       <th class="m-text-center m-text m-big"><div class="m-text m-success">Premium<br />support</div></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <td class="m-text-right"><span class="m-text m-dim">Support</span></td>
       <td class="m-text-center">Community-based</td>
       <td class="m-text-center"><strong class="m-text m-success">Guaranteed<br />response time</strong></td>
     </tr>
     <tr>
       <td class="m-text-right"><span class="m-text m-dim">Commercial use</span></td>
       <td class="m-text-center"><strong>Yes</strong><br /><span class="m-text m-small m-dim">MIT license</span></td>
       <td class="m-text-center"><div class="m-text m-success"><strong>Yes</strong><br /><span class="m-text m-small m-dim">MIT license</span></div></td>
     </tr>
   </tbody>
   <tfoot>
     <tr>
       <td class="m-text-right m-text-middle"><span class="m-text m-dim">Price</span></td>
       <td><div class="m-button m-flat m-fullwidth">
         <a href="#">
           <div class="m-big">Free</div>
           <div class="m-small">Get started</div>
         </a>
       </div></td>
       <td><div class="m-button m-success m-fullwidth">
         <a href="#">
           <div class="m-big">Contact us</div>
           <div class="m-small">big.boss@the.brand</div>
         </a>
       </div></td>
     </tr>
   </tfoot>
 </table></section>
</section>
<section id="images">
<h2><a class="toc-backref" href="#id9">Images</a></h2>
<p>Image, centered:</p>
<img src="https://firebirdtools.github.io/blog/static/flowers-small.jpg" class="m-image" /><p>Image, centered, link:</p>
<div class="m-image">
  <a href="http://blog.mosra.cz/"><img src="https://firebirdtools.github.io/blog/static/flowers-small.jpg" /></a>
</div><p>Image, fullwidth (yes, it should be pixelated):</p>
<img src="https://firebirdtools.github.io/blog/static/flowers-small.jpg" class="m-image m-fullwidth" /><p>Image, fullwidth, link (yes, it should be pixelated):</p>
<div class="m-image m-fullwidth">
  <a href="http://blog.mosra.cz/"><img src="https://firebirdtools.github.io/blog/static/flowers-small.jpg" /></a>
</div><p>SVG image:</p>
<svg class="m-image" width="80" height="80">
  <text x="16" y="40" style="text-anchor: middle; fill: #ff0000">Hello</text>
</svg><p>SVG image, fullwidth, with link inside:</p>
<svg width="80" height="80" class="m-image m-fullwidth">
  <a xlink:href="#"><text x="16" y="40" style="text-anchor: middle; fill: #ff0000">Hello</text></a>
</svg><p>SVG image, fullwidth, with link outside:</p>
<div class="m-image m-fullwidth">
  <a href="#">
    <svg width="80" height="80">
      <text x="16" y="40" style="text-anchor: middle; fill: #ff0000">Hello</text>
    </svg>
  </a>
</div></section>
<section id="figures">
<h2><a class="toc-backref" href="#id10">Figures</a></h2>
<p>Figure, centered:</p>
<figure class="m-figure">
  <img src="https://firebirdtools.github.io/blog/static/ship-small.jpg" />
  <figcaption>A Ship</figcaption>
  <span>Photo © <a href="http://blog.mosra.cz/">The Author</a></span>
</figure><p>Figure, centered, image link, flat:</p>
<figure class="m-figure m-flat">
  <a href="http://blog.mosra.cz/"><img src="https://firebirdtools.github.io/blog/static/ship-small.jpg" /></a>
  <figcaption>A Ship</figcaption>
  <span>Photo © <a href="http://blog.mosra.cz/">The Author</a></span>
</figure><p>Figure, fullwidth, without description (yes, it should be pixelated):</p>
<figure class="m-figure m-fullwidth">
  <img src="https://firebirdtools.github.io/blog/static/ship-small.jpg" />
  <figcaption>A Ship</figcaption>
</figure><p>Figure, fullwidth, with a long caption and description, there should be no
unnecessary wrapping of the text:</p>
<figure class="m-figure m-fullwidth">
  <img src="https://firebirdtools.github.io/blog/static/ship-small.jpg" />
  <figcaption>A Somewhat Lengthy Caption For A Photo</figcaption>
  <span>The Photo Displayed Above Was Kindly Taken And Allowed To Be Used
  On This Page By <a href="http://blog.mosra.cz/">The Author</a>. All
  Rights Reserved.</span>
</figure><p>Figure with a large image but not fullwidth, should look the same as above, no
leaking of the image outside of the page:</p>
<figure class="m-figure">
  <img src="https://firebirdtools.github.io/blog/static/ship.jpg" />
  <figcaption>A Somewhat Lengthy Caption For A Photo</figcaption>
  <span>The Photo Displayed Above Was Kindly Taken And Allowed To Be Used
  On This Page By <a href="http://blog.mosra.cz/">The Author</a>. All
  Rights Reserved.</span>
</figure><p>Figure with a long caption and description, then just a caption (it should wrap
instead of extending the border and there should be proper padding on bottom):</p>
<figure class="m-figure">
  <img src="https://firebirdtools.github.io/blog/static/ship-small.jpg" />
  <figcaption>A Somewhat Lengthy Caption For A Photo</figcaption>
  <span>The Photo Displayed Above Was Kindly Taken And Allowed To Be Used
  On This Page By <a href="http://blog.mosra.cz/">The Author</a>. All
  Rights Reserved.</span>
</figure><figure class="m-figure">
  <img src="https://firebirdtools.github.io/blog/static/ship-small.jpg" />
  <figcaption>A Somewhat Lengthy Caption For A Photo</figcaption>
</figure><p>Figures of varying colors:</p>
<div class="m-row">
  <div class="m-col-m-3 m-col-s-6">
    <figure class="m-figure m-default">
      <img src="https://firebirdtools.github.io/blog/static/ship-small.jpg" />
      <figcaption>Default figure</figcaption>
      <span>Text.</span>
    </figure>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <figure class="m-figure m-primary">
      <img src="https://firebirdtools.github.io/blog/static/ship-small.jpg" />
      <figcaption>Primary figure</figcaption>
      <span>Text.</span>
    </figure>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <figure class="m-figure m-success">
      <img src="https://firebirdtools.github.io/blog/static/ship-small.jpg" />
      <figcaption>Success figure</figcaption>
      <span>Text.</span>
    </figure>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <figure class="m-figure m-warning">
      <img src="https://firebirdtools.github.io/blog/static/ship-small.jpg" />
      <figcaption>Warning figure</figcaption>
      <span>Text.</span>
    </figure>
  </div>
</div>
<div class="m-row">
  <div class="m-col-m-3 m-col-s-6">
    <figure class="m-figure m-danger">
      <img src="https://firebirdtools.github.io/blog/static/ship-small.jpg" />
      <figcaption>Danger figure</figcaption>
      <span>Text.</span>
    </figure>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <figure class="m-figure m-info">
      <img src="https://firebirdtools.github.io/blog/static/ship-small.jpg" />
      <figcaption>Info figure</figcaption>
      <span>Text.</span>
    </figure>
  </div>
  <div class="m-col-m-3 m-col-s-6">
    <figure class="m-figure m-dim">
      <img src="https://firebirdtools.github.io/blog/static/ship-small.jpg" />
      <figcaption>Dim figure</figcaption>
      <span>Text.</span>
    </figure>
  </div>
</div></section>
<section id="image-grid">
<h2><a class="toc-backref" href="#id11">Image grid</a></h2>
<p>Without the link:</p>
<div class="m-imagegrid m-container-inflate">
  <div>
    <figure style="width: 69.127%">
      <img src="https://firebirdtools.github.io/blog/static/ship.jpg" />
      <figcaption>F9.0, 1/250 s, ISO 100</figcaption>
    </figure>
    <figure style="width: 30.873%">
      <img src="https://firebirdtools.github.io/blog/static/flowers.jpg" />
      <figcaption>F2.8, 1/1600 s, ISO 100</figcaption>
    </figure>
  </div>
</div><p>With link, without caption, not inflated:</p>
<div class="m-imagegrid">
  <div>
    <figure style="width: 30.873%">
      <a href="https://firebirdtools.github.io/blog/static/flowers.jpg">
        <img src="https://firebirdtools.github.io/blog/static/flowers.jpg" />
        <div></div>
      </a>
    </figure>
    <figure style="width: 69.127%">
      <a href="https://firebirdtools.github.io/blog/static/ship.jpg">
        <img src="https://firebirdtools.github.io/blog/static/ship.jpg" />
        <div></div>
      </a>
    </figure>
  </div>
</div><p>Without link or caption:</p>
<div class="m-imagegrid m-container-inflate">
  <div>
    <figure style="width: 69.127%">
      <img src="https://firebirdtools.github.io/blog/static/ship.jpg" />
      <div></div>
    </figure>
    <figure style="width: 30.873%">
      <img src="https://firebirdtools.github.io/blog/static/flowers.jpg" />
      <div></div>
    </figure>
  </div>
</div></section>
<section id="code-in-colored-notes">
<h2><a href="#code-in-colored-notes">Code in colored notes</a></h2>
<div class="m-row">
  <div class="m-col-m-6 m-col-s-12">
    <div class="m-note m-default">
      <p>Inline <code>code</code> in default note.</p>
      <pre>and block code</pre>
    </div>
  </div>
  <div class="m-col-m-6 m-col-s-12">
    <div class="m-note m-primary">
      <p>Inline <code>code</code> in primary note.</p>
      <pre>and block code</pre>
    </div>
  </div>
</div>
<div class="m-row">
  <div class="m-col-m-6 m-col-s-12">
    <div class="m-note m-success">
      <p>Inline <code>code</code> in success note.</p>
      <pre>and block code</pre>
    </div>
  </div>
  <div class="m-col-m-6 m-col-s-12">
    <div class="m-note m-warning">
      <p>Inline <code>code</code> in warning note.</p>
      <pre>and block code</pre>
    </div>
  </div>
</div>
<div class="m-row">
  <div class="m-col-m-6 m-col-s-12">
    <div class="m-note m-danger">
      <p>Inline <code>code</code> in danger note.</p>
      <pre>and block code</pre>
    </div>
  </div>
  <div class="m-col-m-6 m-col-s-12">
    <div class="m-note m-info">
      <p>Inline <code>code</code> in info note.</p>
      <pre>and block code</pre>
    </div>
  </div>
</div>
<div class="m-row">
  <div class="m-col-m-6 m-col-s-12">
    <div class="m-note m-dim">
      <p>Inline <code>code</code> in dim note.</p>
      <pre>and block code</pre>
    </div>
  </div>
</div></section>
<section id="code-figure">
<h2><a href="#code-figure">Code figure</a></h2>
<p>A flat code figure:</p>
<figure class="m-code-figure m-flat">
    <pre>Some
    code
snippet</pre>
    And a resulting output.
</figure><p>A code figure with <code class="code html"><span class="p">&lt;</span><span class="nt">pre</span><span class="p">&gt;</span></code> in description. Activating the section header
should not affect it.</p>
<figure class="m-code-figure">
    <pre>Some
    code
snippet</pre>
    <pre>And a resulting output.</pre>
</figure><p>Console figure:</p>
<figure class="m-console-figure">
    <pre class="m-console">Some
    console
output</pre>
    And a description of that illegal crackery that's done above.
</figure></section>
<section id="list-with-components-inside">
<h2><a class="toc-backref" href="#id14">List with components inside</a></h2>
<ul>
  <li>
    <p>A paragraph.</p>
    <div class="m-note m-info">An info note.</div>
  </li>
  <li>
    <div class="m-button m-primary"><a href="#">A button</a></div>
  </li>
  <li>
    <p>Next item.</p>
    <p>Next item next paragraph.</p>
  </li>
</ul>

<p>Paragraph after.</p></section>
<section id="floating-around">
<h2><a href="#floating-around">Floating around</a></h2>
<p>Similar to the <a href="{filename}/css/grid-test.rst#floating-around#floating-around">grid test</a>, but
with components.</p>
<div class="m-note m-default">
  Should have the background extended all the way to the sides on small
  screens.
</div>

<div class="m-col-m-5 m-right-m">
  <div class="m-note m-default">
  <p>Should have no spacing on top/sides but on the bottom, extended to the
  sides on tiny. Lorem ipsum dolor.</p>
  </div>
</div>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id
elit posuere, consectetur magna congue, sagittis est. Pellentesque
est neque, aliquet nec consectetur in, mattis ac diam. Aliquam
placerat justo ut purus interdum, ac placerat lacus consequat. Ut dictum
enim posuere metus porta, et aliquam ex condimentum. Proin sagittis nisi
leo, ac pellentesque purus bibendum sit amet.</p>

<div class="m-col-s-6 m-center-s">
  <div class="m-note m-default">
  <p>Should have spacing on sides but not on the bottom, extended to the
  sides on tiny. Pellentesque est neque, aliquet nec consectetur.</p>
  </div>
</div></section>
<section id="floating-around-inflated">
<h2><a href="#floating-around-inflated">Floating around, inflated</a></h2>
<div class="m-container-inflate">
  <div class="m-note m-default">
  <p>Should be extended to both sides, have padding on bottom an on sides
  the same as above. Lorem ipsum dolor sit amet, consectetur adipiscing
  elit. Aenean id elit posuere, consectetur magna congue, sagittis est.
  Pellentesque est neque, aliquet nec consectetur in, mattis ac diam.
  Aliquam placerat justo ut purus interdum, ac placerat lacus
  consequat.</p>
  </div>
</div>

<div class="m-container-inflate m-col-l-4 m-right-l">
  <div class="m-note m-default">
  <p>Should be extended to the right, have padding on bottom an on the
  right side the same as above. Lorem ipsum dolor.</p>
  </div>
</div>

<div class="m-container-inflate m-col-l-4 m-left-l">
  <div class="m-note m-default">
  <p>Should be extended to the left, have padding on bottom an on the
  outside the same as above. Lorem ipsum dolor.</p>
  </div>
</div>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id
elit posuere, consectetur magna congue, sagittis est. Pellentesque
est neque, aliquet nec consectetur in, mattis ac diam. Aliquam placerat
justo ut purus interdum, ac placerat lacus consequat. Ut dictum enim
posuere metus porta, et aliquam ex condimentum. Proin sagittis nisi leo, ac
pellentesque purus bibendum sit amet. Aliquam placerat justo ut purus
interdum, ac placerat lacus consequat. Ut dictum enim posuere metus porta,
et aliquam ex condimentum. </p></section>
<!-- /content -->
      <footer>
        <p>Posted by <a href="https://firebirdtools.github.io/blog/author/firebird.html">firebird</a> on <time datetime="2019-01-15T00:00:00+01:00">二 15 一月 2019</time> in <a href="https://firebirdtools.github.io/blog/category/mcss.html">mcss</a>. Tags: <a href="https://firebirdtools.github.io/blog/tag/test.html">test</a>.</p>
      </footer>
    </article>
    <nav class="m-navpanel m-col-m-2">
      <h3>Categories</h3>
      <ol class="m-block-bar-m">
        <li><a href="https://firebirdtools.github.io/blog/category/mcss.html">mcss</a></li>
      </ol>
      <h3>Tag cloud</h3>
      <ul class="m-tagcloud">
        <li class="m-tag-5"><a href="https://firebirdtools.github.io/blog/tag/git.html">git</a></li>
        <li class="m-tag-5"><a href="https://firebirdtools.github.io/blog/tag/mcss.html">mcss</a></li>
        <li class="m-tag-5"><a href="https://firebirdtools.github.io/blog/tag/pelican.html">Pelican</a></li>
        <li class="m-tag-5"><a href="https://firebirdtools.github.io/blog/tag/restructuredtext.html">re­Struc­tured­Text</a></li>
        <li class="m-tag-2"><a href="https://firebirdtools.github.io/blog/tag/test.html">test</a></li>
      </ul>
    </nav>
  </div>
</div>
</main>
<footer><nav>
  <div class="m-container">
    <div class="m-row">
      <div class="m-col-l-10 m-push-l-1">
        <p>blog. Powered by <a href="https://getpelican.com">Pelican</a> and <a href="https://mcss.mosra.cz">m.css</a>.</p>
      </div>
    </div>
  </div>
</nav></footer>
</body>
</html>